@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: linear-gradient(to right, #ed4264, #ffedbc);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;



}

.container {

    padding: 10px;
    text-align: center;
    background: hsl(0 0% 100% / .5);
    border-radius: 1rem;

}

h1 {

    font-family: 'Poppins', sans-serif;
    color: black;
    margin-bottom: 10px;
}

input {

    width: 400px;
    height: 30px;
    border: 1px solid lightgray;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}

.buttons {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


button {

    width: 100px;
    height: 30px;
    font-size: 1em;
    background-color: rgb(119, 103, 103);
    color: white;
    margin-top: 10px;
    border: none;
}


@media (max-width: 600px) {

    input {

        width: 300px;
    }

    .buttons {

      gap: 5px;
      

    }

 
}